@import '../../../assets/styles/variables/index.scss';
@import '../../../assets/styles/mixins/rotate-text';

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}

.SoundAlert {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto 50px auto;

  img {
    width: 45px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin-top: -5px;
  }

  &__rotation {
    -webkit-animation: rotation 12s infinite linear;
  }

  &__letters {
    @include rotated-text();
    position: relative;
    width: 60px;
    height: 60px;
    font-size: 10px;
    margin-left: -10px;

    div {
      position: absolute;
      transform-origin: bottom center;
      bottom: 0;
      left: 50%;
      width: 10px;
      height: 60px;
      text-align: center;
    }

  }

}

.instructions {

  .SoundAlert {
    width: 200px;
    height: 200px;

    img {
      width: 70px;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      margin-top: -5px;
    }

    &__rotation {
      -webkit-animation: rotation 20s infinite linear;
    }

    &__letters {
      @include rotated-text();
      width: 100px;
      height: 100px;
      font-size: 15px;

      div {
        height: 100px;
      }

    }

  }

}