// temporary
@import '../../../assets/styles/index.scss';
@keyframes bottomrightTest {
    0% {
        width: 0;
        height: 0;
        padding-top: 0;
        visibility: visible;
    }
    25% {
        width: 400px;
        height: 0;
        padding-top: 0;
        visibility: visible;
    }
    50% {
        height: 50px;
        width: 400px;
        visibility: visible;
    }
    75% {
        visibility: visible;

    }
    100% {
        visibility: visible;
    }
}
@keyframes topleftTest {
    0% {
        width: 0;
        height: 0;
        padding-bottom: 0;
        visibility: hidden;
    }
    25% {
        width: 0;
        height: 0;
        padding-bottom: 0;
        visibility: hidden;
    }
    50% {
        width: 0;
        height: 0;
        padding-bottom: 0;
        visibility: hidden;
    }
    75% {
        width: 400px;
        height: 0;
        padding-bottom: 0;
        visibility: visible;
    }
    100% {
        width: 400px;
        height: 50px;
        opacity: 1;
        visibility: visible;
    }
}

.Presentation{
    //background: rgba(0,0,0,1);
    width: 100%;
    height: 90vh;
    color: white;
    position:relative;
    .form__btn{
        height: 50px;
        background: none;
        border: none;
        color: #0B162E;
        text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
        font-size: 30px;
        font-family: "Archivo Black", sans-serif;
        position: absolute;
        top: 0;
        right: 20px;
        cursor: pointer;
        -webkit-transition: color 0.5s ease;
        transition: color 0.5s ease;
        letter-spacing: 2px;
    }
}
.Presentation_person{
    background: white;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    transition: all 1s ease-in-out;
    /*animation: wave 1.3s linear infinite;*/
    &.greeted__guests{
        background-color: transparent;
        .firstName{
            transition: all 2s ease-in-out;
            //text-transform: uppercase;
            color: white;
            font-weight: bold;
            background: none;
            font-size: 16px;

            .nameLetter{
                &.removeOpacity{
                    opacity: 0;
                    transition: all 1s ease-in-out;
                }
            }
            .firstLetter{
                text-transform: uppercase;
                &.displayed{
                    transition-delay: 1s;
                    font-size: 50px;
                    transition: all 1s ease-in-out;
                    color: $color__bg;
                    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
                }
            }
        }
    }
    &.hide{
        opacity: 0;
        //display: none; // or opacity 0
    }
    &.clickable{
        z-index: 2;
    }
    &.clickable:not(.hote):hover{
        cursor: pointer;
        transform: scale(1.5);
      }
}

.questionInput__container{
    position: absolute;
    z-index: 4;
    transform: translateY(-80%);
    .questionInput__label{
        font-size: 16px;
        padding-bottom: 10px;
        display: flex;
    }
}

.input__container {
    position: relative;
    width: 400px;
    height: 50px;
    &:before{
        content: '';
        position: absolute;
        width: 400px;
        height: 50px;
        top: -2px;
        right: 0;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        visibility: hidden;
        //background-color: black; // TODO check what's best
    }
    &:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 400px;
        height: 50px;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        visibility: hidden;
    }
    .input__box{
        position: absolute;
        z-index: 2;
    }
    .input-border {
        position: relative;
        width: 400px;
        height: 50px;
        display: flex;
        justify-content: left;
        align-items: center;
        float: left;
        .nameInput {
            width: 100%;
            height: 50px;
            padding: 10px 0 10px 20px;
            background-color: transparent;
            color: white;
            font-size: 16px;
            text-transform: capitalize;
            text-align: left;
            font-weight: bold;
            border: none;
            transition: all 0.5s ease;
        }
        input::first-letter{
            color: red;
        }
        .nameInput::placeholder {
            color: rgba(255,255,255,0.8);
            text-transform: lowercase;
            //font-weight: bold;
            //font-size: 30px;
            text-align: left;
            //opacity: 0.3;
            transition: opacity 0.8s ease;
        }
    }
    &.animate-input{
        &:before{
            animation: topleftTest 1s ease-in-out forwards;
        }
        &:after{
            animation: bottomrightTest 1s ease-in-out forwards;
        }
    }
}

.border-white{
    span{
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        color: white;
        transition: color 0.4s ease-in-out;
        cursor: pointer;
        &:hover{
            cursor: pointer;
        }
    }

}

.empty{
    //transition: all 0.3s ease-in-out;
    span{
        cursor: default;
        color: $color__bg;
    }
}

@keyframes wave {
    0%, 60%, 100% {
        transform: translateY(15px);
    }
    30% {
        transform: translateY(-15px);
    }
}