.Presentation{
    background: rgba(0,0,0,1);
    width: 100vw;
    height: 100vh;
    color: white;
    position:relative;
}
.Presentation_person{
    background: white;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    transition: all 1s ease-in-out;
    /*animation: wave 1.3s linear infinite;*/
    &.greeted__guests{
        background-color: transparent;
        .firstName{
            transition: all 2s ease-in-out;
            //text-transform: uppercase;
            color: black;
            font-weight: bold;
            background: none;
            font-size: 50px;
            text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
            .nameLetter{
                &.removeOpacity{
                    opacity: 0;
                    transition: all 2s ease-in-out;
                }
            }
        }
    }
    &.hide{
        opacity: 0;
        //display: none; // or opacity 0
    }
    &.clickable{
        z-index: 2;
    }
    &.clickable:not(.hote):hover{
        cursor: pointer;
        transform: scale(1.5);
      }
}

.questionInput__container{
    position: absolute;
    z-index: 4;
    transform: translateY(-80%);
}

.input__container {
    position: relative;
    width: 300px;
    height: 70px;
    //background-color: black;
    &:before{
        content: '';
        position: absolute;
        width: 300px;
        height: 70px;
        top: -2px;
        right: 0;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        visibility: hidden;
        //background-color: black; // TODO check what's best
    }
    &:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 300px;
        height: 70px;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        visibility: hidden;
    }
    .input__box{
        position: absolute;
        z-index: 2;
    }
    .input-border {
        position: relative;
        width: 200px;
        height: 70px;
        display: flex;
        justify-content: left;
        align-items: center;
        float: left;
        .nameInput {
            width: 100%;
            height: 50px;
            padding: 10px 0 10px 10px;
            background-color: transparent;
            color: white;
            font-size: 50px;
            text-transform: capitalize;
            text-align: left;
            font-weight: bold;
            border: none;
            transition: all 0.5s ease;
        }
        input::first-letter{
            color: red;
        }
        .nameInput::placeholder {
            color: rgba(255,255,255,1);
            text-transform: lowercase;
            //font-weight: bold;
            //font-size: 30px;
            text-align: left;
            opacity: 0.3;
            transition: opacity 0.8s ease;
        }
    }
    &.animate-input{
        &:before{
            animation: topleft 1s ease-in-out forwards;
        }
        &:after{
            animation: bottomright 1s ease-in-out forwards;
        }
    }
}

.border-white{
    span{
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        color: white;
        transition: color 0.4s ease-in-out;
        cursor: pointer;
        &:hover{
            cursor: pointer;
        }
    }

}

.empty{
    //transition: all 0.3s ease-in-out;
    span{
        cursor: default;
        color: black;
    }
}

@keyframes wave {
    0%, 60%, 100% {
        transform: translateY(15px);
    }
    30% {
        transform: translateY(-15px);
    }
}