/*@font-face {
  font-family: 'Happy Times';
  src: url('../fonts/happy-times/happy-times.woff2') format('woff2'),
  url('../fonts/happy-times/happy-times.woff') format('woff'),
  url('../fonts/happy-times/happy-times.ttf')  format('truetype');
}*/
/*@font-face {
  font-family: 'Happy Times';
  src: url('../fonts/happy-times/happy-times.woff2') format('woff2'),
  url('../fonts/happy-times/happy-times.woff') format('woff'),
  url('../fonts/happy-times/happy-times.ttf')  format('truetype');
}*/
* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0B162E;
  color: #ffffff; }

h1, h2, h3, h4, h5, h6, ul, ol, li, a, p {
  margin: 0;
  padding: 0; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none;
  color: #ffffff; }

input:focus, textarea:focus, button:focus, button:active {
  outline: none; }

#root, .wrapper-container, .Start-process {
  width: 100%;
  height: 100%; }

/*@font-face {
  font-family: 'Happy Times';
  src: url('../fonts/happy-times/happy-times.woff2') format('woff2'),
  url('../fonts/happy-times/happy-times.woff') format('woff'),
  url('../fonts/happy-times/happy-times.ttf')  format('truetype');
}*/
@keyframes bottomrightTest {
  0% {
    width: 0;
    height: 0;
    padding-top: 0;
    visibility: visible; }
  25% {
    width: 400px;
    height: 0;
    padding-top: 0;
    visibility: visible; }
  50% {
    height: 50px;
    width: 400px;
    visibility: visible; }
  75% {
    visibility: visible; }
  100% {
    visibility: visible; } }
@keyframes topleftTest {
  0% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden; }
  25% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden; }
  50% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden; }
  75% {
    width: 400px;
    height: 0;
    padding-bottom: 0;
    visibility: visible; }
  100% {
    width: 400px;
    height: 50px;
    opacity: 1;
    visibility: visible; } }
.Presentation {
  width: 100%;
  height: 90vh;
  color: white;
  position: relative; }
  .Presentation .form__btn {
    height: 50px;
    background: none;
    border: none;
    color: #0B162E;
    text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
    font-size: 30px;
    font-family: "Archivo Black", sans-serif;
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
    letter-spacing: 2px; }

.Presentation_person {
  background: white;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  transition: all 1s ease-in-out;
  /*animation: wave 1.3s linear infinite;*/ }
  .Presentation_person.greeted__guests {
    background-color: transparent; }
    .Presentation_person.greeted__guests .firstName {
      transition: all 2s ease-in-out;
      color: white;
      font-weight: bold;
      background: none;
      font-size: 16px; }
      .Presentation_person.greeted__guests .firstName .nameLetter.removeOpacity {
        opacity: 0;
        transition: all 1s ease-in-out; }
      .Presentation_person.greeted__guests .firstName .firstLetter {
        text-transform: uppercase; }
        .Presentation_person.greeted__guests .firstName .firstLetter.displayed {
          transition-delay: 1s;
          font-size: 50px;
          transition: all 1s ease-in-out;
          color: #0B162E;
          text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; }
  .Presentation_person.hide {
    opacity: 0; }
  .Presentation_person.clickable {
    z-index: 2; }
  .Presentation_person.clickable:not(.hote):hover {
    cursor: pointer;
    transform: scale(1.5); }

.questionInput__container {
  position: absolute;
  z-index: 4;
  transform: translateY(-80%); }
  .questionInput__container .questionInput__label {
    font-size: 16px;
    padding-bottom: 10px;
    display: flex; }

.input__container {
  position: relative;
  width: 400px;
  height: 50px; }
  .input__container:before {
    content: '';
    position: absolute;
    width: 400px;
    height: 50px;
    top: -2px;
    right: 0;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    visibility: hidden; }
  .input__container:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 50px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    visibility: hidden; }
  .input__container .input__box {
    position: absolute;
    z-index: 2; }
  .input__container .input-border {
    position: relative;
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    float: left; }
    .input__container .input-border .nameInput {
      width: 100%;
      height: 50px;
      padding: 10px 0 10px 10px;
      background-color: transparent;
      color: white;
      font-size: 16px;
      text-transform: capitalize;
      text-align: left;
      font-weight: bold;
      border: none;
      transition: all 0.5s ease; }
    .input__container .input-border input::first-letter {
      color: red; }
    .input__container .input-border .nameInput::placeholder {
      color: rgba(255, 255, 255, 0.8);
      text-transform: lowercase;
      text-align: left;
      transition: opacity 0.8s ease; }
  .input__container.animate-input:before {
    animation: topleftTest 1s ease-in-out forwards; }
  .input__container.animate-input:after {
    animation: bottomrightTest 1s ease-in-out forwards; }

.border-white span {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: white;
  transition: color 0.4s ease-in-out;
  cursor: pointer; }
  .border-white span:hover {
    cursor: pointer; }

.empty span {
  cursor: default;
  color: #0B162E; }

@keyframes wave {
  0%, 60%, 100% {
    transform: translateY(15px); }
  30% {
    transform: translateY(-15px); } }

/*# sourceMappingURL=style.css.map */
