/* GLOBAL */
$color__white: #EAEAEA;
$color__black: #000000;

/* INTERFACE */
$color__medium: #7B61FF;
$color__blue: #0F0E89;
$color__bg: #0B162E;

/* XP 1 */
$color__episode_01:#002c36;
$color__xp--dark:#002c36;
$color__xp--light: #ff8373;