@import '../../../assets/styles/variables/index.scss';

.TakingPosition {
  width: 100%;
  height: 100%;

  &__done {

    .TakingPosition__winner {
      transition: width 1s ease;
      width: 100%!important;
      max-width: 100%;
    }

  }

  &__timer {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20;
  }

  &__container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__leftPart, &__rightPart {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    background-color: $color__xp--dark;
    max-width: 80%;
    min-width: 20%;
  }

  &__leftPart {
    top: 0;
    left: 0;

    &:after {
      width: 1px;
      height:100%;
      background-color: $color__white;
      content: '';
      position: absolute;
      right: 0;
    }

  }

  &__rightPart {
    right: 0;
    top: 0;

    &:before {
      width: 1px;
      height:100%;
      background-color: $color__white;
      content: '';
      position: absolute;
      left: 0;
    }

  }

  &__winner {
    z-index: 2;
  }

  &__label{
    color: $color__white;
  }
}