@import '../../../assets/styles/variables/index.scss';
@import '../../../assets/styles/mixins/slide';

.Navigation {
  width: 100%;
  height: 100%;
  position: absolute;
  left:0;
  top:0;
  z-index: 100;
  transition: transform 0.8s ease;
  @include slide(100%, 48px);

  &--open {
    transform: translateX(0)!important;

    .Navigation__action-cta {
      transform: rotate(45deg)!important;
    }

  }

  &__header {
    display: flex;
    align-items:center;
    height: 60px;
    padding: 0 50px;
    margin-bottom: 20px;

    &-logo {
      display: flex;
      align-items:center;

      &--icon {
        width: 80px;
      }

    }

    &-box {
      display: flex;
      align-items:center;
      margin-left: auto;

      &--icon {
        width: 40px;
      }

    }

  }

  &__container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
  }

  &__main {
    position: relative;
    width: calc(100% - 50px);
    height: 100%;
  }

  &__items {
    position: absolute;
    top: calc(50% - 40px);
    transform: translateY(-50%);
    width: 100%;
  }

  &__item {
    font-size: 70px;
    font-family: $font__archivo--black;
    width: 100%;
    height: 120px;
    max-height: 120px;
    position: relative;
    padding: 0 20px;

    &:first-child {
      .item__content {
        left: 10%;
      }
    }

    &:nth-child(2) {
      .item__content {
        left: 20%;
      }
    }

    &:nth-child(3) {
      .item__content {
        left: 30%;
      }
    }

    &:nth-child(4) {
      .item__content {
        left: 40%;
      }
    }

    .item {

      &__link {

        span {
          margin-right: 100px;
        }

        &:hover {
          .item__name {
            text-shadow: -1px 0 $color__white, 0 1px $color__white, 1px 0 $color__white, 0 -1px $color__white;
            color: $color__bg;
            transform: translateY(0);
          }
        }
      }

      &__content {
        position: absolute;
        bottom: 0;
        overflow: hidden;
      }

      &__name {
        transform: translateY(25px);
        transition: transform 0.5s ease;
      }

      &__icon {
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        transition: opacity 0.5s ease;
        opacity: 0;
      }

    }

  }

  &__action {
    border-left: 1px solid $color__white;
    border-right: 1px solid $color__white;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;

    &-cta {
      font-size: 25px;
      transition: transform 0.8s ease;
    }

  }

  &__footer {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .SocialShare__item {
      transition: transform 0.5s ease;

      &:hover {
        transform: translateY(-10px);
      }
    }

  }

}

@media screen and (max-width: 1050px) {

  .Navigation {
    &__item {
      font-size: 40px;
      .item {
        &__link {
           span {
             margin-right: 60px;
           }
        }
        &__name {
          transform: translateY(13px);
        }
      }
    }
  }

}

/* mobile et tablet */
@media screen and (max-width: 768px) {

  .Navigation {
    display: none;
  }

}

.interface {
  .Navigation {
    background: $color__bg;
    color: $color__white;
    &__action {
      border-left: 1px solid $color__white;
      border-right: 1px solid $color__white;
    }
    &__item {
      border-bottom: 1px solid $color__white;

      .item {
        &__link {
          &:focus, &:active {
            text-shadow: -1px 0 $color__white, 0 1px $color__white, 1px 0 $color__white, 0 -1px $color__white;
            color: $color__bg;
          }
        }
      }
    }
  }
}

.interface-reverse {

  .Navigation {
    background: $color__white;
    color: $color__xp--dark;
    @include slide(100%, 18px);

    &__action {
      border-left: 1px solid $color__xp--dark;
      border-right: 1px solid $color__xp--dark;
    }

    &__item {
      border-bottom: 1px solid $color__xp--dark;

      .item {

        &__link {

          &:hover {

            .item__name {
              color: $color__white;
              text-shadow: -1px 0 $color__xp--dark, 0 1px $color__xp--dark, 1px 0 $color__xp--dark, 0 -1px $color__xp--dark;
            }

          }

          &:focus, &:active {
            text-shadow: -1px 0 $color__xp--dark, 0 1px $color__xp--dark, 1px 0 $color__xp--dark, 0 -1px $color__xp--dark;
            color: $color__white;
          }

        }

      }

    }

  }

}

.episode {

  .Navigation {
    background: $color__xp--dark;
    color: $color__white;
    @include slide(100%, 18px);

    &__action {
      border-left: 1px solid $color__white;
      border-right: 1px solid $color__white;

    }

    &__item {
      border-bottom: 1px solid $color__white;

      .item {

        &__link {
          color: $color__white;

          &:hover, &:focus, &:active {

            .item__name {
              text-shadow: -1px 0 $color__white, 0 1px $color__white, 1px 0 $color__white, 0 -1px $color__white;
              color: $color__xp--dark;
            }

          }

        }

      }

    }

  }

}