@import '../../../assets/styles/index.scss';
.glass{
  .glass_name {
    font: 700 4em/1 "Oswald", sans-serif;
    -webkit-text-stroke: 1px white;
    /* Clip Background Image */
    background: url(../../../assets/img/drink.png) repeat-y;
    background-position-y: 253px;
    background-position-x: -75px;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    /* Activate hardware acceleration for smoother animations */
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
    &.drinking{
      background-position-y: 235px;
      animation: aitf 5s linear infinite;
      animation-duration: 10s;
    }
  }
}



/* Animate Background Image */

@-webkit-keyframes aitf {
  0% { background-position-x: 0%; }
  100% { background-position-x: 100%; }
}