@import '../../../assets/styles/index.scss';
    .glass_name {

    font: 700 4em/1 "Oswald", sans-serif;
    //letter-spacing: 0;
    //padding: .25em 0 .325em;
    //display: block;
    //margin: 0 auto;
    -webkit-text-stroke: 1px white;
    /* Clip Background Image */
    background: url(../../../assets/img/drink.png) repeat-y;
    background-position-y: 235px;
    -webkit-background-clip: text;
    background-clip: text;

    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 5s linear infinite;
    -webkit-animation-duration: 10s;

    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;

  }


/* Animate Background Image */

@-webkit-keyframes aitf {
  0% { background-position-x: 0%; }
  100% { background-position-x: 100%; }
}