@import '../../../assets/styles/variables/index.scss';

.Notice {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;

  .Notice__text{
    margin: 0 auto;
  }

}

.interface {
  .Notice {
    border-top: 1px solid $color__white;
    color: $color__white;
    background-color: $color__bg;
  }
}

.interface-reverse {
  .Notice {
    border-top: 1px solid $color__xp--dark;
    color: $color__xp--dark;
    background-color: $color__white;
  }
}

.episode {
  .Notice {
    border-top: 1px solid $color__white;
    color: $color__white;
    background-color: $color__xp--dark;
  }
}

