.Home {
    width: 100%;
    height: 100%;
    background: #000000;
    color: #FFFFFF;
}
.Home__container {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
}
.Home__center {
    width: 450px;
}
.Home__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    opacity: 1;
}
.Home__content:first-child {
    z-index: 2;
}
.Home__content:last-child {
    transition: opacity 3s ease;
}
.Home__title {
    font-size: 72px;
    margin-bottom: 20px;
}
.Home__description {
    font-size: 18px;
    max-width: 450px;
    line-height: 25px;
    font-weight: 300;
    margin: 0 auto 50px auto;
}
.Home__description--small {
    max-width: 350px;
}
.Home__start {
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    background: none;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 25px;
    cursor: pointer;
}
.Home__sound {
    position: absolute;
    bottom: 0;
    opacity: 1;
    transition: all 3s ease;
}
.Home__sound img {
    margin-bottom: 20px;
    opacity: 0.5;
}
.Home__sound p {
    line-height: 20px;
    font-weight: 300;
    max-width: 400px;
    margin: 0 auto 30px auto;
    font-size: 14px;
    opacity: 0.5;
}
.Hide__content {
    opacity: 0;
}