.Timeline {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.Timeline__progress-bar {
    width: 90%;
    height: 2px;
    background: #000000;
    opacity: 0.2;
}