@mixin default-button($color) {
  font-size: 12px;
  color: $color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: none;
  padding: 15px 30px;
  letter-spacing: 2px;
  line-height: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.5s ease-in, background-color 0.5s ease-in;
}

@mixin border-button($color, $borderColor, $font, $size) {
  text-transform: lowercase;
  font-family: $font;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: $size;
  background: none;
  border: none;
  text-shadow: -1px 0 $borderColor, 0 1px $borderColor, 1px 0 $borderColor, 0 -1px $borderColor;
  color: $color;
  cursor: pointer;
}