@mixin rotated-text($num-letters: 60, $angle-span: 360deg, $angle-offset: 0deg) {
  $angle-per-char: $angle-span / $num-letters;
  @for $i from 1 through $num-letters {
    .char#{$i} {
      transform: rotate($angle-offset + $angle-per-char * $i);
    }
  }
}

@mixin rotated-text-bis($num-letters: 52, $angle-span: 360deg, $angle-offset: 0deg) {
  $angle-per-char: $angle-span / $num-letters;
  @for $i from 1 through $num-letters {
    .char#{$i} {
      transform: rotate($angle-offset + $angle-per-char * $i);
    }
  }
}