@import '../../../assets/styles/index';

.WordBox {
  width: 40px;
  height: auto;
}

.interface {
  .WordBox {
    stroke: $color__white;
  }
}

.interface-reverse {
  .WordBox {
    stroke: $color__black;
  }
}