@import '../../../assets/styles/variables/index.scss';
@import '../../../assets/styles/mixins/index.scss';

.WordBox {
  width: 40px;
  height: auto;
}

.interface {
  .WordBox {
    stroke: $color__white;
  }
}

.interface-reverse {
  .WordBox {
    stroke: $color__xp--dark;
  }
}