@import '../../../assets/styles/variables/index.scss';

.WordBox {
  width: 40px;
  height: auto;
}

.interface {
  .WordBox {
    stroke: $color__white;
    fill: $color__bg;
  }
}

.interface-reverse {
  .WordBox {
    fill: $color__white;
    g {
      stroke: $color__xp--dark;
    }
  }
}

.episode {
  .WordBox {
    stroke: $color__white;
    fill: $color__xp--dark;
  }
}