/* GLOBAL */
/* INTERFACE */
/* XP 1 */
/*@font-face {
  font-family: 'Happy Times';
  src: url('../../fonts/happy-times/happy-times.woff2') format('woff2'),
  url('../../fonts/happy-times/happy-times.woff') format('woff'),
  url('../../fonts/happy-times/happy-times.ttf')  format('truetype');
}*/
@keyframes bottomright {
  0% {
    width: 0;
    height: 0;
    padding-top: 0;
    visibility: visible; }
  25% {
    width: 300px;
    height: 0;
    padding-top: 0;
    visibility: visible; }
  50% {
    height: 70px;
    width: 300px;
    visibility: visible; }
  75% {
    visibility: visible; }
  100% {
    visibility: visible; } }
@keyframes revbottomright {
  0% {
    width: 300px;
    height: 70px;
    visibility: visible; }
  25% {
    width: 300px;
    height: 70px;
    visibility: visible; }
  50% {
    width: 300px;
    height: 70px;
    visibility: visible; }
  75% {
    width: 300px;
    height: 0;
    padding-top: 0;
    visibility: visible; }
  100% {
    width: 0;
    height: 0;
    padding-top: 0;
    visibility: hidden; } }
@keyframes topleft {
  0% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden; }
  25% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden; }
  50% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden; }
  75% {
    width: 300px;
    height: 0;
    padding-bottom: 0;
    visibility: visible; }
  100% {
    width: 300px;
    height: 70px;
    opacity: 1;
    visibility: visible; } }
@keyframes revtopleft {
  0% {
    width: 300px;
    height: 70px;
    opacity: 1;
    visibility: visible; }
  25% {
    width: 300px;
    height: 0;
    padding-bottom: 0;
    visibility: visible; }
  50% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden; }
  75% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden; }
  100% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden; } }
@keyframes pressbtn {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }
.bell__input-border:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 70px;
  border-bottom: 2px solid #002c36;
  border-right: 2px solid #002c36;
  visibility: hidden; }

.bell__input-border:before {
  content: "";
  position: absolute;
  top: -2px;
  right: 0;
  width: 300px;
  height: 70px;
  border-top: 2px solid #002c36;
  border-left: 2px solid #002c36;
  visibility: hidden; }

.Doorbell__animation .bell__input-border:before {
  animation: topleft 0.5s ease-in-out forwards; }

.Doorbell__animation .bell__input-border:after {
  animation: bottomright 0.5s ease-in-out forwards; }

.Doorbell {
  height: 100%;
  background: #EAEAEA; }
  .Doorbell__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }
  .Doorbell__label {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%); }
    .Doorbell__label span {
      color: #002c36;
      font-family: "Happy times";
      font-size: 25px;
      line-height: 30px;
      width: 100%;
      text-align: center;
      font-weight: normal; }
      .Doorbell__label span:after {
        content: "";
        width: 110%;
        height: 1px;
        background-color: #002c36;
        position: absolute;
        bottom: 6px;
        left: 50%;
        transform: translateX(-50%); }

.bell {
  position: relative;
  width: 400px;
  text-align: center;
  transition: all 0.5s ease; }
  .bell__box {
    border: 1px solid #002c36;
    margin-top: 40px;
    width: 400px;
    height: 75px;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center; }
  .bell__container {
    width: 400px;
    height: 70px; }
  .bell__input-border {
    position: relative;
    width: 300px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left; }
  .bell__input {
    width: 70%;
    height: 50px;
    font-size: 20px;
    font-family: "Archivo Black", sans-serif;
    border: none;
    padding: 10px 0 10px 0;
    text-align: center;
    font-weight: normal;
    transition: all 0.5s ease;
    background: none;
    color: #002c36; }
  .bell__input::placeholder {
    font-family: "Archivo", sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #002c36;
    text-align: center;
    letter-spacing: 1px;
    opacity: 0.5;
    transition: opacity 0.3s ease; }
  .bell__input:active::placeholder, .bell__input:focus::placeholder {
    opacity: 0; }

.btn__input {
  width: 70px;
  height: 70px;
  float: left;
  margin: 0 0 0 20px;
  padding: 0;
  border-radius: 50%;
  font-weight: bold;
  position: relative;
  text-transform: lowercase;
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
  font-size: 35px;
  background: none;
  border: none;
  color: #002c36;
  opacity: 0.2;
  cursor: pointer;
  transition: opacity 0.5s ease-in;
  opacity: 1; }
  .btn__input.empty {
    opacity: 0.2; }
  .btn__input:hover, .btn__input:focus, .btn__input:active {
    opacity: 1; }
  .btn__input.btn__bell {
    opacity: 1; }

.btn__input span {
  transition: opacity 0.5s ease; }

.Doorbell__animation label {
  opacity: 0; }

.Doorbell__animation .bell__input {
  height: 50px;
  font-size: 35px;
  flex: 1; }

.Doorbell__animation .btn__input span {
  opacity: 0; }

.Doorbell__animation.bell {
  width: 460px; }

.Doorbell__animation .bell__box {
  width: 460px;
  height: 130px;
  border-width: 2px; }

.btn__input:before,
.btn__input:after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%; }

.btn__input:before, .btn__input:after {
  top: 0;
  left: 0; }

.btn__input:before {
  border: 2px solid transparent; }

.Doorbell__animation .btn__input:before {
  border-top-color: #002c36;
  border-right-color: #002c36;
  border-bottom-color: #002c36;
  transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.10s, border-bottom-color 0.15s linear 0.20s; }

.Doorbell__animation .Doorbell__label {
  opacity: 0; }

.btn__input:after {
  border: 0 solid transparent; }

.Doorbell__animation .btn__input:after {
  border-top: 2px solid #002c36;
  border-left-width: 2px;
  border-right-width: 2px;
  transform: rotate(270deg);
  transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s; }

.bell__btn {
  display: flex;
  justify-content: center;
  align-items: center; }

.bell__btn--clicked {
  animation: pressbtn 0.1s ease; }

.lottie {
  height: 100vh; }

.Doorbell__animation .repeat-bell__box {
  opacity: 0.1; }

.repeat-bell__box {
  opacity: 0;
  width: 460px;
  height: 130px;
  border: 2px solid #002c36;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  transition: opacity 0.5s 0.5s; }
.repeat-bell__container {
  width: 400px;
  height: 70px;
  position: relative;
  display: flex; }
.repeat-bell__input {
  width: 300px;
  height: 100%;
  border: 2px solid #002c36; }
.repeat-bell__btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #002c36;
  margin-left: 20px; }

/*# sourceMappingURL=style.css.map */
