/*@font-face {
  font-family: 'Happy Times';
  src: url('../fonts/happy-times/happy-times.woff2') format('woff2'),
  url('../fonts/happy-times/happy-times.woff') format('woff'),
  url('../fonts/happy-times/happy-times.ttf')  format('truetype');
}*/
/*@font-face {
  font-family: 'Happy Times';
  src: url('../fonts/happy-times/happy-times.woff2') format('woff2'),
  url('../fonts/happy-times/happy-times.woff') format('woff'),
  url('../fonts/happy-times/happy-times.ttf')  format('truetype');
}*/
* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body.interface, html.interface {
    background-color: #0B162E;
    color: #ffffff; }
  body.interface-reverse, html.interface-reverse {
    background-color: #ffffff;
    color: #000000; }

h1, h2, h3, h4, h5, h6, ul, ol, li, a, p {
  margin: 0;
  padding: 0; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

.interface a {
  color: #ffffff; }

.interface-reverse a {
  color: #000000; }

input:focus, textarea:focus, button:focus, button:active {
  outline: none; }

#root, .wrapper-container {
  width: 100%;
  height: 100%; }

.Start-process {
  width: 100%;
  height: calc(100% - 45px); }

/*@font-face {
  font-family: 'Happy Times';
  src: url('../fonts/happy-times/happy-times.woff2') format('woff2'),
  url('../fonts/happy-times/happy-times.woff') format('woff'),
  url('../fonts/happy-times/happy-times.ttf')  format('truetype');
}*/
@keyframes bottomright {
  0% {
    width: 0;
    height: 0;
    padding-top: 0;
    visibility: visible; }
  25% {
    width: 300px;
    height: 0;
    padding-top: 0;
    visibility: visible; }
  50% {
    height: 70px;
    width: 300px;
    visibility: visible; }
  75% {
    visibility: visible; }
  100% {
    visibility: visible; } }
@keyframes revbottomright {
  0% {
    width: 300px;
    height: 70px;
    visibility: visible; }
  25% {
    width: 300px;
    height: 70px;
    visibility: visible; }
  50% {
    width: 300px;
    height: 70px;
    visibility: visible; }
  75% {
    width: 300px;
    height: 0;
    padding-top: 0;
    visibility: visible; }
  100% {
    width: 0;
    height: 0;
    padding-top: 0;
    visibility: hidden; } }
@keyframes topleft {
  0% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden; }
  25% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden; }
  50% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden; }
  75% {
    width: 300px;
    height: 0;
    padding-bottom: 0;
    visibility: visible; }
  100% {
    width: 300px;
    height: 70px;
    opacity: 1;
    visibility: visible; } }
@keyframes revtopleft {
  0% {
    width: 300px;
    height: 70px;
    opacity: 1;
    visibility: visible; }
  25% {
    width: 300px;
    height: 0;
    padding-bottom: 0;
    visibility: visible; }
  50% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden; }
  75% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden; }
  100% {
    width: 0;
    height: 0;
    padding-bottom: 0;
    visibility: hidden; } }
@keyframes pressbtn {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }
.bell__input-border:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 70px;
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  visibility: hidden; }

.bell__input-border:before {
  content: "";
  position: absolute;
  top: -2px;
  right: 0;
  width: 300px;
  height: 70px;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  visibility: hidden; }

.Doorbell__animation .bell__input-border:before {
  animation: topleft 0.5s ease-in-out forwards; }

.Doorbell__animation .bell__input-border:after {
  animation: bottomright 0.5s ease-in-out forwards; }

.Doorbell {
  height: 100%;
  background: #ffffff; }
  .Doorbell__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }
  .Doorbell__label {
    color: #000000;
    font-family: "Archivo Black", sans-serif;
    font-size: 40px;
    width: 600px;
    position: absolute;
    top: 100px;
    left: 100px;
    font-weight: normal;
    line-height: 50px;
    opacity: 1;
    transition: all 0.5s ease; }

.bell {
  position: relative;
  width: 400px;
  text-align: center;
  transition: all 0.5s ease; }
  .bell__box {
    border: 2px solid black;
    margin-top: 40px;
    width: 400px;
    height: 75px;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center; }
  .bell__container {
    width: 400px;
    height: 70px; }
  .bell__input-border {
    position: relative;
    width: 300px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left; }
  .bell__input {
    width: 70%;
    height: 50px;
    font-size: 30px;
    border: none;
    padding: 10px 0 10px 0;
    text-align: center;
    font-weight: bold;
    transition: all 0.5s ease;
    background: none; }
  .bell__input::placeholder {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    opacity: 0.3;
    transition: opacity 0.3s ease; }
  .bell__input:active::placeholder, .bell__input:focus::placeholder {
    opacity: 0; }

.btn__input {
  width: 70px;
  height: 70px;
  float: left;
  margin: 0 0 0 20px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background: none;
  font-weight: bold;
  font-size: 35px;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
  color: #ffffff;
  letter-spacing: 2px;
  position: relative; }

.btn__input span {
  transition: opacity 0.5s ease; }

.Doorbell__animation label {
  opacity: 0; }

.Doorbell__animation .bell__input {
  height: 50px;
  font-size: 40px;
  padding: 0 0 10px 0;
  flex: 1; }

.Doorbell__animation .btn__input span {
  opacity: 0; }

.Doorbell__animation.bell {
  width: 460px; }

.Doorbell__animation .bell__box {
  width: 460px;
  height: 130px; }

.btn__input:before,
.btn__input:after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%; }

.btn__input:before, .btn__input:after {
  top: 0;
  left: 0; }

.btn__input:before {
  border: 2px solid transparent; }

.Doorbell__animation .btn__input:before {
  border-top-color: #000000;
  border-right-color: #000000;
  border-bottom-color: #000000;
  transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.10s, border-bottom-color 0.15s linear 0.20s; }

.Doorbell__animation .Doorbell__label {
  opacity: 0; }

.btn__input:after {
  border: 0 solid transparent; }

.Doorbell__animation .btn__input:after {
  border-top: 2px solid #000000;
  border-left-width: 2px;
  border-right-width: 2px;
  transform: rotate(270deg);
  transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s; }

.bell__btn {
  display: flex;
  justify-content: center;
  align-items: center; }

.bell__btn--clicked {
  animation: pressbtn 0.1s ease; }

.lottie {
  height: 100vh; }

.Doorbell__animation .repeat-bell__box {
  opacity: 0.1; }

.repeat-bell__box {
  opacity: 0;
  width: 460px;
  height: 130px;
  border: 2px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  transition: opacity 0.5s 0.5s; }
.repeat-bell__container {
  width: 400px;
  height: 70px;
  position: relative;
  display: flex; }
.repeat-bell__input {
  width: 300px;
  height: 100%;
  border: 2px solid #000000; }
.repeat-bell__btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #000000;
  margin-left: 20px; }

/*# sourceMappingURL=style.css.map */
