@import '../../../assets/styles/variables/index.scss';

.Header {
  width: 100%;
  height: 50px;
  z-index: 10;
  position: fixed;
  background: $color__bg;
  border-bottom: 1px solid $color__white;

  &__logo {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
      height: 15px;
  }

}


.interface-reverse {
  .Header {
    border-bottom: 1px solid $color__xp--dark;
    background: $color__white;
  }
}


.episode {
  .Header {
    border-bottom: 1px solid $color__white;
    background: $color__xp--dark;
  }
}