@import '../../../assets/styles/variables/index.scss';
@import '../../../assets/styles/mixins/index.scss';

.Credits {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
  position: relative;

  &__background {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;

    & > div {
      width: 120%!important;
      height: 120%!important;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

  }

  &__container {
    text-align: center;
    z-index: 1;
  }

  &__episode {
    text-align: center;
    margin-bottom: 50px;

    &__number {
      color: $color__white;
      font-family: $font__archivo--black;
      font-size: 25px;
    }

    &__title {
      color: $color__xp--light;
      font-family: $font__archivo--black;
      font-size: 40px;
      line-height: 50px;
      font-weight: normal;
      max-width: 600px;
      margin: 0 auto;
    }

  }

  &__particularThanks {
    font-family: $font__happy-times;
    font-size: 18px;
    line-height: 30px;
    max-width: 700px;
    margin-bottom: 50px;
    text-align: center;
  }

  &__thanks {
    display: flex;

    .thanks {
      text-align: center;
      flex: 1;

      &__voices {

        .voices {

          &__list {

          }

          &__voice {
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 30px;

            &__name {
              text-transform: capitalize;
              text-align: right;
              font-weight: bold;
              flex: 1;
              margin-right: 15px;
            }

            &__actor {
              text-align: left;
              flex: 1;
              margin-left: 15px;
            }

          }

        }

      }

      &__title {
        font-family: $font__happy-times;
        color: $color__xp--light;
        font-size: 25px;
        margin-bottom: 30px;
        font-weight: normal;
      }

      &__roles, &__persons {
        flex: 1;
      }

      &__person, &__role {
        font-size: 15px;
        font-family: $font__archivo;
        font-weight: 500;
        line-height: 30px;
      }

      &__role {
        font-weight: 800;
      }

    }

  }

  &__action {
    @include default-button($color__white);
    margin-top: 60px;
    &:hover, &:focus, &:active {
      background-color: $color__white;
      color: $color__xp--dark;
    }
  }

}