@import '../../../assets/styles/variables/index.scss';
@import '../../../assets/styles/mixins/index.scss';

.Instructions {

  &__container {
    min-width: 400px;
    position: relative;
  }

  .Instruction {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: opacity 0.5s ease;
    font-family: $font__happy-times;
    font-size: 28px;
    text-align: center;
    z-index: 1;

    &--current {
      opacity: 1;
      z-index: 5;
    }

  }

}