.navigation-dot{
    height:10px;
    width:10px;
    border: solid 1px black;
    border-radius: 50%;
    margin: 20px;
}

.Personalization{
    overflow: hidden;
    width: 100%;
    height: 100%;

    &__container, &__doorbell {
        width: 100%;
        height: 100%;
    }

}

.dot-fill{
    background: black;
}
.doorbell__container{
    opacity: 1;
    transition: all 0.5s ease-in-out;

    &.hide{
        opacity: 0;
        height: 0;
    }

}

.Personalization__doorbell{
    opacity: 1;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    position: relative;
    z-index: 1;

    &.hide{
        z-index: 0;
        opacity: 0;
        position: absolute;
    }

}

.presentation__container{
    width: 100%;
    height: 100%;
    opacity: 1;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    &.hide{
        opacity: 0;
        height: 0;
    }
}

