@import '../../assets/styles/variables/index.scss';

.Interactions {
    width: 100%;
    height: 100%;

    &__music {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}


.Interaction__instruction {
    font-size: 16px;
    position: absolute;
    bottom: 60px;
    left: 50px;
}
.WithAnimation {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Animation > div {
    height: 100vh!important;
}

.Form, .Interaction {
    height: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Form__container {
    width: 400px;
}
.Form__row {
    text-align: center;
    margin: 0 auto 50px auto;
}
.Form__row:last-child {
    margin-bottom: 0;
}
.Form__label {
    font-size: 24px;
    max-width: 500px;
    display: block;
    margin-bottom: 30px;
    text-align: center;
}
.Form__input {
    border: none;
    border-bottom: 1px solid #000000;
    width: 100%;
    height: 50px;
    font-size: 25px;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 5px 0;
}
.Form__input::placeholder {
    font-size: 36px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #000000;
    opacity: 0.2;
}
.Form__submit {
    border: 1px solid #000000;
    border-radius: 45px;
    width: 125px;
    height: 40px;
    font-size: 16px;
}

/* ------------------------------ */
/* ---------- DOORBELL ---------- */
/* ------------------------------ */
.Doorbell {
    width: 100%;

    &__object {
        width: 500px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        border: 1px solid #000000;
    }

    &__button {
        border: 1px solid #000000;
        width: 50px;
        height:50px;
        border-radius: 50%;
        margin: 24px;
    }

    &__name {
        height: 100px;
        width: 400px;
        border-left: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 35px;
    }
}

.Notice__wrapper {
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50px;
    transition: bottom 0.1s ease-in-out;

    &.hide{
        transition: bottom 0.1s ease-in-out;
        bottom: -50px;
    }
}