/* GLOBAL */
/* INTERFACE */
/* XP 1 */
/*@font-face {
  font-family: 'Happy Times';
  src: url('../../fonts/happy-times/happy-times.woff2') format('woff2'),
  url('../../fonts/happy-times/happy-times.woff') format('woff'),
  url('../../fonts/happy-times/happy-times.ttf')  format('truetype');
}*/
@-webkit-keyframes horizontallyScroll {
  0%, 100% {
    margin-left: 0; }
  99.99% {
    margin-left: -100%; } }
.Home {
  width: 100%;
  height: 100%;
  color: #EAEAEA;
  position: relative; }
  .Home__onMobile {
    display: none; }
  .Home__background-animation {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    opacity: 0.6; }
    .Home__background-animation > div {
      width: 120% !important;
      height: 120% !important;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .Home__alert {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    white-space: nowrap;
    font-family: "Happy times"; }
    .Home__alert-text {
      animation: linear horizontallyScroll 2s infinite;
      margin-left: -100%; }
      .Home__alert-text:after {
        content: attr(data-text);
        position: absolute;
        white-space: nowrap;
        padding-left: 10px; }
  .Home__container {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
  .Home__center {
    width: 450px; }
  .Home__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 1;
    z-index: 2;
    transition: opacity 1s 0s; }
  .Home__logo {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .Home__logo svg {
      height: 70px;
      width: 100%; }
  .Home__description {
    font-size: 18px;
    max-width: 400px;
    line-height: 25px;
    margin: 0 auto 80px auto;
    font-family: "Happy times"; }
  .Home__description--small {
    max-width: 350px; }
  .Home__start {
    font-size: 10px;
    color: #EAEAEA;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: none;
    padding: 15px 30px;
    letter-spacing: 2px;
    line-height: 14px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.5s ease-in, background-color 0.5s ease-in; }
    .Home__start:hover {
      background: #EAEAEA;
      color: #0B162E; }
  .Home__instructions {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    opacity: 1;
    transition: opacity 2s 1.1s;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%; }
  .Home__hide {
    opacity: 0;
    z-index: 1;
    transition: opacity 1s 0s; }

/* mobile et tablet */
@media screen and (max-width: 768px) {
  .Home__container, .Home__background-animation {
    display: none; }
  .Home__onMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: "Happy times"; }
    .Home__onMobile__container {
      text-align: center;
      padding: 0 30px; }
    .Home__onMobile__logo {
      margin-bottom: 20px;
      text-align: center; }
      .Home__onMobile__logo svg {
        width: 200px;
        height: 30px; }
    .Home__onMobile__description {
      max-width: 300px;
      margin: 0 auto 50px auto;
      font-size: 18px; }
    .Home__onMobile__box {
      border: 1px solid #EAEAEA;
      padding: 30px; }
      .Home__onMobile__box .box__title {
        font-size: 28px;
        margin-bottom: 20px; }
      .Home__onMobile__box .box__description {
        font-size: 18px;
        margin-bottom: 20px; }
      .Home__onMobile__box .box__icon svg {
        width: 50px;
        height: 50px; } }

/*# sourceMappingURL=style.css.map */
