@import '../../../assets/styles/index.scss';

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}

@-webkit-keyframes horizontallyScroll {
  0%, 100% {
    margin-left:0;
  }
  99.99% {
    margin-left:-100%;
  }
}

.Home {
    width: 100%;
    height: 100%;
    color: $color__white;

  &__alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid $color__white;
    display: flex;
    justify-content:center;
    align-items:center;
    overflow-x: hidden;
    white-space: nowrap;

    &-text {
      animation: linear horizontallyScroll 5s infinite ;
      margin-left:-100%;

      &:after {
        content:attr(data-text);
        position:absolute;
        white-space:nowrap;
        padding-left:10px;
      }

    }

  }

}
.Home__container {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
}
.Home__center {
    width: 450px;
}
.Home__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    opacity: 1;
}
.Home__content:first-child {
    z-index: 2;
}
.Home__content:last-child {
    transition: opacity 3s ease;
}
.Home__logo {
    width: 400px;
  margin-bottom: 80px;
}
.Home__description {
    font-size: 18px;
    max-width: 450px;
    line-height: 25px;
    margin: 0 auto 80px auto;
    font-family: "Times New Roman";
}
.Home__description--small {
    max-width: 350px;
}
.Home__start {
  border: 1px solid $color__white;
  background: none;
  color: $color__white;
  font-size: 12px;
  padding: 15px 30px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.5s ease;
    &:hover {
       background:$color__white;
       color: $color__bg;
    }
}
.Home__sound {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto 50px auto;
  img {
    width: 45px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin-top: -5px;
  }
  &-rotation {
    -webkit-animation: rotation 12s infinite linear;
  }
  &-letters {
    @include rotated-text();
    position: relative;
    width: 60px;
    height: 60px;
    font-size: 10px;
    margin-left: -10px;
    div {
      position: absolute;
      transform-origin: bottom center;
      bottom: 0;
      left: 50%;
      width: 10px;
      height: 60px;
    }
  }
}