@import '../../../assets/styles/variables/index.scss';
@import '../../../assets/styles/mixins/index.scss';

@-webkit-keyframes horizontallyScroll {
  0%, 100% {
    margin-left:0;
  }
  99.99% {
    margin-left:-100%;
  }
}

.Home {
    width: 100%;
    height: 100%;
    color: $color__white;
    position: relative;

  &__onMobile {
    display: none;
  }

  &__background-animation {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    opacity: 0.6;

    & > div {
      width: 120%!important;
      height: 120%!important;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

  }

  &__alert {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid $color__white;
    display: flex;
    justify-content:center;
    align-items:center;
    overflow-x: hidden;
    white-space: nowrap;
    font-family: $font__happy-times;

    &-text {
      animation: linear horizontallyScroll 2s infinite ;
      margin-left:-100%;

      &:after {
        content:attr(data-text);
        position:absolute;
        white-space:nowrap;
        padding-left:10px;
      }

    }

  }

  &__container {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
  }

  &__center {
    width: 450px;
  }

  &__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    opacity: 1;
    z-index: 2;
    transition: opacity 1s 0s;
  }

  &__logo {
    margin-bottom: 50px;
    display: flex;
    justify-content:center;
    align-items:center;

    svg {
      height: 70px;
      width: 100%;
    }

  }

  &__description {
    font-size: 18px;
    max-width: 400px;
    line-height: 25px;
    margin: 0 auto 80px auto;
    font-family: $font__happy-times;
  }

  &__description--small {
    max-width: 350px;
  }

  &__start {
    @include default-button($color__white);

    &:hover {
      background:$color__white;
      color: $color__bg;
    }

  }

  &__instructions {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    opacity: 1;
    transition: opacity 2s 1.1s;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;

  }

  &__hide {
    opacity: 0;
    z-index: 1;
    transition: opacity 1s 0s;
  }

}

/* mobile et tablet */
@media screen and (max-width: 768px) {

  .Home {

    &__container, &__background-animation {
      display: none;
    }

    &__onMobile {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-family: $font__happy-times;

      &__container {
        text-align: center;
        padding: 0 30px;
      }

      &__logo {
        margin-bottom: 20px;
        text-align: center;

        svg {
          width: 200px;
          height: 30px;
        }

      }

      &__description {
        max-width: 300px;
        margin: 0 auto 50px auto;
        font-size: 18px;
      }

      &__box {
        border: 1px solid $color__white;
        padding: 30px;

        .box {

          &__title {
            font-size: 28px;
            margin-bottom: 20px;
          }

          &__description {
            font-size: 18px;
            margin-bottom: 20px;
          }

          &__icon {

            svg {
              width: 50px;
              height: 50px;
            }

          }

        }

      }

    }

  }

}
