@import '../../../assets/styles/variables/index.scss';
@import '../../../assets/styles/mixins/index.scss';

.AnimLogo {

  display: flex;
  justify-content:center;
  align-items:center;
  width: 450px;
  height: 80px;

  &__container {

    width: 450px;
    height:80px;

    span {

      text-align: center;

      img {
        margin: 0 30px;

        &.AnimLogo__specialLetter {
          margin-top: -20px;
        }

      }

    }
  }

}