.catalogue-container{
    display: flex;
}
.episode-container{
    cursor: pointer;
    margin: 5px;
    width: 33%;
    display: flex;
    border-radius: 15px;
    padding: 5px;
    border: solid 1px black;
    flex-direction: column;
}
.episode-title{
    color: rebeccapurple;
    height: 150px;
}

.episode-validation{
    background: none;
    border: none;
    font-size: 15px;
    margin: 10px auto;
    display: flex;
}