@import 'variables/index';
@import 'mixins/index';
@import 'base/index';

@font-face {
  font-family: 'Happy Times';
  src: url('../fonts/happy-times/happy-times.woff2') format('woff2'),
  url('../fonts/happy-times/happy-times.woff') format('woff'),
  url('../fonts/happy-times/happy-times.ttf')  format('truetype');
}

$font__archivo: 'Archivo', sans-serif;
$font__archivo--black: 'Archivo Black', sans-serif;
$font__happy-times: 'Happy times';